
* { margin: 0; padding: 0; }

header  {
    background-color: rgb(14, 226, 245);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
ul{
    list-style: none;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    font-size: 20px;
}
#section1{
    background-color: rgb(190, 242, 243);
}
h1{
    
    text-align: center;
    
}
#spanname{
    color: blue;
    font-size: xx-large;
    font-style: italic;
}
p{
    text-align: center;
    font-size: larger;
    gap: 20px;
}
img{
    display: block;
   margin-left: auto;
   margin-right: auto;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
#SubSection{
    margin-left: 700px;
    display: flex;
    width: 500px;
    height: auto;
    text-align: center;
    background-color: rgb(247, 247, 248) ;
    color: rgb(8, 8, 8);
}
#Section2{
    background-color: rgb(127, 238, 234);
}
ul
    {
        display: inline-block;
        text-align: left;
      }
#h4form{
    text-align: left;
}
#message{
    width: 300px;
    height: 100px;
}
#name{
    width: 300px;
    height: 20px;
    
}
#email{
    width: 300px;
    height: 20px;

}
#imgavatar{
    border-radius: 100px;


    }
#span1{
    font-size: 30px;
    font-style: italic;
}


